.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.extra {
  font-size: 12px;
  color: #6c7072;
}

.description {
  padding: 0 20px;
}

.description > * {
  margin-bottom: 8px;
}

.active {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: none;
  border-radius: 32px;
  border-color: #e7e7ff;
  color: #6b4eff;
}

@media (max-width: 768px) {
  .descriprion{
    padding: 20px 0;
  }
  .details {
    grid-template-columns: 1fr;
  }
}