.banner {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 80%;
  background-color: #f2f4f5;
}

.title {
  font-size: 16px;
}

.image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
